.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.social-media {
    color: #afafaf;
}

.social-media:hover{
    text-decoration: underline;
    color: #797979
}

.forms {
    padding: 10px;
}